/_build/
/.vs/
/Screenshots/
/tools
test-results
*.userprefs
*.csproj.user
*.user
StyleCop.Cache
.*.swp
.fatten.out
*.resources
*.suo
*.orig
*~
*.ncrunchproject
*.ncrunchsolution
*.pyc

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet Packages
*.nupkg
# The packages folder can be ignored because of Package Restore
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config
# NuGet v3's project.json files produces more ignorable files
*.nuget.props
*.nuget.targets

quotes.txt.dat
