/packages/
/_build/
/.vs/
Screenshots/
test-results
*.userprefs
*.csproj.user
*.user
StyleCop.Cache
.*.swp
.fatten.out
*.resources
*.suo
*.orig
*~
*.ncrunchproject
*.ncrunchsolution
*.pyc
quotes.txt.dat
