build/
/.vs/
Screenshots/
packages/
CKAN/*/bin
CKAN/*/obj
Tests/bin
Tests/obj
test-results
*.userprefs
*.csproj.user
*.user
TestResult.xml
StyleCop.Cache
ckan.exe
ks2ckan.exe
netkan.exe
*.exe.config
*.exe.mdb
.*.swp
.fatten.out
*.resources
*.suo
*.orig
*~
*.ncrunchproject
*.ncrunchsolution
*.pyc
quotes.txt.dat
