[Desktop Entry]
Name=CKAN Command Prompt
Comment=Comprehensive Kerbal Archive Network Command Prompt
Keywords=Kerbal Space Program;KSP;Mod;Command Prompt;
Icon=ckan
Categories=Game;PackageManager;ConsoleOnly;
Exec=/usr/bin/ckan prompt
Terminal=true
Type=Application
Version=1.0
X-GNOME-SingleWindow=true
