[Desktop Entry]
Name=CKAN Console UI
Comment=Comprehensive Kerbal Archive Network Console UI
Icon=/usr/share/icons/ckan.ico
Categories=Game;Utility
Exec=/usr/bin/ckan consoleui
Terminal=true
Type=Application
Version=1.0
X-GNOME-SingleWindow=true
