[Desktop Entry]
Name=CKAN
Comment=Comprehensive Kerbal Archive Network client
Icon=/usr/share/icons/ckan.ico
Categories=Game;Utility
Exec=/usr/bin/ckan
Terminal=false
Type=Application
Version=1.0
X-GNOME-SingleWindow=true
