build/
bin/
obj/
test-results
*.userprefs
*.csproj.user
TestResult.xml
StyleCop.Cache
ckan.exe
ks2ckan.exe
netkan.exe
*.exe.mdb
.*.swp
.fatten.out
*.resources
*.suo
*.orig
*~
*.ncrunchproject
*.ncrunchsolution